:root {
    --bg: RGB(26, 26, 26);
    --color-border: RGB(54, 54, 54);
    --text-color-1: RGBA(255, 255, 255, 0.87);
    --text-color-2: RGBA(235, 235, 235, 0.6);
    --text-color-3: RGBA(235, 235, 235, 0.38);
    --text-color-4: RGBA(235, 235, 235, 0.18);
    --text-size-4: 0.9rem; //14.4px;
}
