.container {
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-columns: 300px 1fr;
    grid-template-rows: 70px 1fr;
    gap: 1px;
    grid-template-areas:
        'header header'
        'main main';
}

.main {
    grid-area: main;
}

.header {
    grid-area: header;
    border-bottom: 1px solid var(--border-color);
    background-color: var(--bg);
}
